.merk{width:450px; height:50%; align:center}
.judulmerk{text-align:center; width:200px; }
body{background-color:blue}
.tabelmerk{background-color:white}
.ling{text-decoration:none; color:white}
.pilih{padding:4px; font-size:10pt; text-align:center; color:white}
#pilihan{background-color:steelblue; border-radius:20%; color:white}
.isi{color:white; font-size:10pt; text-align:justify}
.tabel{width:52%}