/*keterangan mobil*/
.merkmobil{width:100%; height:50%}
.judulmerkmobil{text-align:center; width:200px; }
body{background-color:green}
.tabelmerk{background-color:white}
.ling{text-decoration:none; color:white}
.pilihmobil{padding:4px; font-size:101%; text-align:center; color:white}
#milih{background-color:seagreen; border-radius:20px; color:white}
.isimobil{color:white; font-size:90%; text-align:justify; overflow:auto; height:30%}
.tabelmobil{width:70%}
.order{background-color:darkgreen; height:5%; padding:1%;width:98%}
.pesan{background-color:limegreen; text-align:center; padding:5px; width:15%; border-radius:20px; font-size:120%;color:darkgreen}
.tabel{width:52%}
.judul{width:200px; color:white; font-weight:bold; font-size:120%}
.tabelperintah{display:flex; justify-content:space-around; text-align:center; background-color:black}
.navigasi{display:flex; justify-content:space-around}