nav{display:flex; justify-content:space-around; text-align:center; background-color:black}
nav div{display:flex; justify-content:space-around; width:100%; font-weight:bold}
nav div p{font-size:100%; color:white}