.merk{width:200px; height:75%}
.judulmerk{text-align:center; width:200px; color:black}
body{background-color:blue}
.tabelmerk{background-color:white}
.ling{text-decoration:none}
.tabelperintah{display:flex; flex-wrap:nowrap; text-align:center; background-color:black}
.navigasi{display:flex; justify-content:space-around}
.judul{width:200px; color:white; font-weight:bold; font-size:120%}
.menumobil{display:flex; justify-content:space-around}